<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
    [products]="products$|async"
    [selectedProduct]="selectedProduct$|async"
    [displayCode]="displayCode$|async"
    [errorMessage]="errorMessage$|async"
    (productSelected$)="productSelected($event)"
    (newProduct$)="newProduct()"
    (checkChanged$)="checkChanged()"
    >
    </pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit 
    [selectedProduct]="selectedProduct$|async"
    (deleteProduct$)="deleteProduct($event)"
    (createProduct$)="createProduct($event)"
    (updateProduct$)="updateProduct($event)"
    (clearProduct$)="clearProduct()"
    ></pm-product-edit>
  </div>
</div>